body {
    font-family: 'Andada Pro', serif;
}

.tableout {
    background-color: #b8e9e7;
    border: 2px solid black;
    margin: 0% auto;
    width: 70%;
    padding: 2% 2%;
}

.tableinner {
    margin: 2% 0%;
    margin-bottom: 1%;
}

th {
    width: 17%;
}

.thtd {
    padding: 1% 1%;
    border: 1px solid black;
    text-align: left;
}

.tableinner th {
    border: 1px solid black;
}